input/gebco_2026_n85.0_s35.0_w-80.0_e0.0.nc
input/coast_tree.pkl
input/gebco_interp.joblib
results_july/out_iceberg2017b_topaz4_windglophynrt_test.log
results/iceberg2026e_gebco_topaz5_windglophynrt_lead10_1D_radius_1000_leadtime10D_allmostfull.nc
